@charset 'utf-8';

$width1 : 1280;

$ff-default  : 'Pretendard', 'sans-serif';
$ff-eng      : 'Oswald', 'sans-serif';
$ff-point    : 'NanumMyeongjo', 'serif';

$fs-base    : 10;
$fs-body    : 16;
$lh-base    : 25;

$color-default   : #231f20;
$color-gray      : #757575;
$color-primary   : #0033a0;
$color-secondary : #f28c38;

$time                : all 0s;
$transition-default  : all 0.3s ease-in-out;
