$width1: 1280;

$ff-default: "Pretendard", sans-serif;
$ff-eng: "Oswald", sans-serif;
$ff-point: "NanumMyeongjo", serif;

$fs-base: 10;
$fs-body: 16;
$lh-base: 25;

$text: #231f20;
$muted: #757575;
$accent: #0033a0;

$time: all 0s;
$transition-default: all 0.3s ease-in-out;