$width1: 1280;

$ff-default: "Pretendard", sans-serif;
$ff-eng: "Oswald", sans-serif;
$ff-point: "NanumMyeongjo", serif;

$fs-base: 10;
$fs-body: 16;
$lh-base: 25;

$text: #111111;
$muted: #777777;
$accent: #315efb;

$time: all 0s;
$transition-default: all 0.3s ease-in-out;